@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background-image: url("@/assets/backgrounds/StartBackground.gif");
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
}
